# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Virtual Environment
venv/
.venv/
env/

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Database
*.sqlite
*.db
